<% if (location && location.error) { %>
    <div class="alert alert-danger" role="alert"><%- JSON.stringify(location.error) %></div>
    <% } %>
  <br>
  <br>
  <div class="card">
    <div class="card-header">
      Add Location
    </div>
    <div class="card-body">
      <form name="myForm" action="/location/save"  onsubmit="return validateForm()" method="post" > 
        <div class="form-group1">
          <label for="locationId">Location Id:</label>
          <input type="number" class="form-control" id="locationId" name="locationId" value="<%= location.locationId %>" autocomplete="on">
        </div>
        <div class="form-group">
          <label for="locationName">Location Name:</label>
          <input type="text" class="form-control" id="locationName" name="locationName" value="<%= location.locationName %>" autocomplete="off" required>
        </div>
        <br>
        <div class="form-group">
          <label for="locationLatitude">Location Latitude:</label>
          <input type="text" class="form-control" id="locationLatitude" name="locationLatitude" value="<%= location.locationLatitude %>" autocomplete="off" required>
        </div>
        <br>
        <div class="form-group">
          <label for="locationLongitude">Location Longitude:</label>
          <input type="text" class="form-control" id="locationLongitude" name="locationLongitude" value="<%= location.locationLongitude %>" autocomplete="off" required>
        </div>
        <br>
        <div class="form-group">
          <input type="submit" class="btn btn-info" title="Submits a POST /save request" value="Create" />
        </div>
      </form>
    </div>
  </div>